.lwj-product-recommendation {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  .scroll-x {
    overflow-x: scroll;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    .list-item {
      box-sizing: border-box;
      width: 50%;
      overflow: hidden;
      flex-shrink: 0;
      padding: 8px;
      .list-item-img-box {
        overflow: hidden;
        margin: 0 10px;
      }
      .list-item-img {
        width: 100%;
        height: 335px;
        border: 1px solid #f4f4f4;
        box-sizing: border-box;
      }

      .list-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .title {
          font-size: 26px;
          line-height: 1;
          margin-top: 10px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .desc {
          font-size: 24px;
          color: rgba(136, 136, 136, 1);
          line-height: 1;
          margin-top: 10px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .price {
          font-size: 28px;
          color: rgba(232, 97, 64, 1);
          line-height: 1;
          margin-top: 20px;
        }
        .sales_volume {
          font-size: 18px;
          color: rgba(205, 205, 205, 1);
          line-height: 1;
          margin-top: 10px;
        }
      }
    }
  }
}
